* {
    margin: 0;
    padding: 0;
}
  
.container {
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #131313;
}
  
.header {
    font-size: 2.5em;
    color: #D81E7E;
    margin-left: 4px;
    text-align: center;
    text-transform: uppercase;
}
  
.menu-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #181818;
    border-style: solid;
    border-top-color: #15aed0;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
  
h2 a {
    font-size: 2em;
    color: #D81E7E;
    text-decoration: none;
    text-transform: uppercase;
}
  
.popover {
    display: none;
    background-color: #181818;  
}
  
.popover:target {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
.popover .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 0;
    height: 0;
    color: #fff;
    background-color: #181818;
    animation: 1s grow ease forwards;
    text-align: center;
    border: 4px solid #D81E7E;
    z-index: 1;
}
  
.menu_list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.menu_item a {
    text-decoration: none;
    font-size: 1.75em;
    color: #15aed0;
}
  
.menu_item {
    height: 20%;
    overflow: visible;
}
  
.menu_list li {
    padding: 15px 0;
    text-transform: uppercase; 
    transform: translateY(200px);
    opacity: 0;
    animation: 2s slideUp ease forwards .5s;
    position: relative;
}
  
.menu_list li::before {
    content: ""; 
    position: absolute;
    height: 2px;
    width: 0px;
    left: 0;
    bottom: 10px;
    background: #D81E7E;
    transition: all .5s ease;
}
  
.menu_list li:hover:before {
    width: 100%;
}
  
  
.popover p {
    padding: 50px;
    animation: 1s fadeIn ease forwards 1s;
}
  
.popover .close::after {
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    z-index: 1;
    font-size: 2.5em;
    align-items: center;
    justify-content: center;
    background-color: #D81E7E;
    color: #fff;
    content: "x";
    cursor: pointer;
    animation: 1s fadeIn ease forwards .5s;
}
  
@keyframes grow {
    100% {
        height: 90%;
        width: 90%;
    }
}
  
@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}
  
@keyframes slideUp {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.text {
    display: flex;
    flex-direction: row;
    padding: 1vw;
}

img {
    max-width: 75%;
    height: 75%;
    padding: 1vw;
    object-fit: cover;
}

h3 {
    color: #15aed0;
    text-transform: uppercase;
    font-size: 1.5em;
}

h4 {
    color: #D81E7E;
    font-size: 1.2em;
    text-transform: uppercase;
}

h5 a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

h5 {
    color: #15aed0;
    font-size: 1rem;
    padding-left: 1vw;
    padding-top: 1vw;
}

.pic-txt, .side-ex {
    color: #fff;
    font-size: 1em;
    padding-top: 1vw;
}

.txt-class {
    padding-left: 1vw;
}

li:before {
    counter-increment: li;
    content: counter(li, decimal-leading-zero);
    color: #D81E7E;
    margin-right: 0.25em;
}

ol {
	list-style-type: none;
    counter-reset: li;
}

.pic-n-txt {
    background-color: #131313;
    display: flex;
}

.main-section {
    border-left: 2px;
    border-right: 2px;
    padding: 1.5vw;
    border-color: #D81E7E;
    border-left-style: dotted;
    border-right-style: dotted;
}

.sidebarone {
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-right: 0.5vw;
    width: 300px;
}

.sidebartwo {
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-right: 0.5vw;
    width: 300px;
}

ol li {
    padding-top: 1vw;
}

.pic-txt {
    max-height: 10vh;
}

.neededind, .needind {
    text-indent: 1vw;
}

@media only screen and (max-width: 700px) {
    h4, .ending {
        color: #D81E7E;
        font-size: 1.5vw;
        text-transform: uppercase;
    }
    li a {
        text-decoration: none;
        color: #15aed0;
        font-size: 1.5vw;
    }
    li, .text-header {
        font-size: 2vw;
        color: #fff;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .care-title {
        color: #15aed0;
        font-size: 3vw;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3 {
        color: #15aed0;
        text-transform: uppercase;
        font-size: 2.5vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .popover .close::after {
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
        position: absolute;
        display: flex;
        z-index: 1;
        font-size: 2.5vw;
        align-items: center;
        justify-content: center;
        background-color: #D81E7E;
        color: #fff;
        content: "x";
        cursor: pointer;
        animation: 1s fadeIn ease forwards .5s;
    }
    .menu_item a {
        text-decoration: none;
        font-size: 3vw;
        color: #15aed0;
    }
    .popover .content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 0;
        height: 0;
        color: #fff;
        background-color: #181818;
        animation: 1s grow ease forwards;
        text-align: center;
        border: 4px solid #D81E7E;
        z-index: 1;
    }
    h2 a {
        font-size: 4vw;
        color: #D81E7E;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .header {
        font-size: 5vw;
    }

    h4 {
        font-size: 3vw;
    }

    img {
        max-width: 50%;
        max-height: 50%;
    }

    .pic-txt, .side-ex {
        font-size: 2.5vw;
        font-weight: 600;
    }

    h5 {
        font-size: 2.5vw;
    }

}